<% include ../partials/header.ejs %>

<h1>Animal Tribes FAQ</h1>

<h2 class="mt-3">What are animal tribes?</h2>

<p>
  PAWR secures the network with animal tribes who vote on the validity of a transaction. <br>
  The process works like a democracy, where your delegated PAWR to a tribe is voting on your behalf. <br>
  In the PAWR network the balances from all delegated PAWR are resposible on how much weight a tribe in the voting for a transaction has.
</p>

<h2 class="mt-3">How do I change my tribe?</h2>

<p>
  You can change your tribe on every good PAWR wallet.<br>
  Go to the app or account settings and look for the animal tribe option.<br>
  There you have to paste the address of the new tribe or scan the QR code on the tribes account page.
</p>

<h2 class="mt-3">Who should I choose?</h2>

<p>
  Go to the <a href="/">main page</a> and have a look at the recommended tribes.
  They are sorted by the following factors:
</p>

<h3>Uptime</h3>

<p>
  Your votes won’t be counted in consensus if your rep doesn’t stay online, potentially due to weak hardware that gets knocked off during high network load. 
  Choose a rep with &#62;95% uptime.
</p>

<h3>Tribe Size</h3>

<p>
  A few animal tribes having a "tribe size" too big makes 51% attack or network stalling much easier. 
  Delegate PAWR to tribes with &#60;1% weights and high uptime makes Pawr more robust and decentralized.
</p>

<h3>Time since creation</h3>

<p>
  You don’t want to choose a tribe that might disappear tomorrow. 
  The longer the tribe has been around, the more committed the owner is, the less chance that will happen. 
  Also prevents Sybil nodes to gain weights too fast.
</p>

<h3>Social Profiles</h3>

<p>
  All tribes on this page have at least one social profile connected to their account.
  If an animal tribe owner has been actively contributing to good discussion of PAWR or building on the PAWR ecosystem for a long time, they are more trustworthy.
</p>

<h1 id="scoring">Scoring</h1>

<p>
  The tribe score is a good indicator of reliability and is calculated using various attributes such as uptime, tribe size and days since creation.
</p>

<p>
  The current formula is as follows:<br>
  <code>divider = 100^4 / 100</code><br>
  <code>score = (score_exposure * score_uptime * score_age * score_latency) / divider</code>
</p>
<div class="row">
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/safx4qdgwd?embed"></iframe>
    </div>
  </div>
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/akdxbrldmr?embed"></iframe>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/dj6fcysyjx?embed"></iframe>
    </div>
  </div>
  <div class="col">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.desmos.com/calculator/tcpqxxly9r?embed"></iframe>
    </div>
  </div>
</div>



<% include ../partials/footer.ejs %>
